name: execution_metrics
description: "A Flutter plugin for obtaining function execution metrics in a Flutter / Dart app."
version: 2.0.0
homepage: https://smart-dev.com.co
repository: https://github.com/reyesmfabian/execution_metrics 

environment:
  sdk: ">=2.16.2 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0